
          <section class="photo pt-5 mt-5">
    <!-- Carousel wrapper -->
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img class="rounded-circle shadow-1-strong mb-4"
    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
    style="width: 70px;" />
    <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
    <p class="text-white">
      <iconify-icon icon="ri:double-quotes-l" style="color: white;" width="20" height="20"></iconify-icon>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
      nesciunt sint eligendi reprehenderit 
      fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
      doloremque.
      <iconify-icon icon="ri:double-quotes-l" style="color: white;"  width="20" height="20" rotate="180deg"></iconify-icon>
      <i class="fas fa-quote-right pe-2"></i>
    </p>
    <h5 class="mb-2" style="color: white;">Maria Kate</h5>
    <p style="color: white;">Photographer</p>
    </div>
    </div>
    <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
      <iconify-icon icon="emojione:star"></iconify-icon>
      <iconify-icon icon="emojione:star"></iconify-icon>
      <iconify-icon icon="emojione:star"></iconify-icon>
      <iconify-icon icon="emojione:star"></iconify-icon>
      <iconify-icon icon="emojione:star"></iconify-icon>
    </ul>
    </div>
    </div>
    </div><br>
    <div class="text-center">
      <button type="button" class="btn btn-primary" style="padding: 8px 55px ;">Primary</button>
      <button type="button" class="btn btn-secondary" style="padding: 8px 55px ;">Secondary</button>
      <button type="button" class="btn btn-success" style="padding: 8px 55px ;">Success</button>
      <button type="button" class="btn btn-danger" style="padding: 8px 55px ;">Danger</button>
      <button type="button" class="btn btn-warning" style="padding: 8px 55px ;">Warning</button>
      <button type="button" class="btn btn-info" style="padding: 8px 55px ;">Info</button>
    </div><br>
    <h2 class="text-center text-warning">BPK</h2>
    <!-- <br> -->
    <p class="text-white text-center">
        <iconify-icon icon="ri:double-quotes-l" style="color: white;" width="20" height="20"></iconify-icon>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti sit unde vel, debitis rerum distinctio.
        <iconify-icon icon="ri:double-quotes-l" style="color: white;"  width="20" height="20" rotate="180deg"></iconify-icon>
        <i class="fas fa-quote-right pe-2"></i>
      </p>
    <div class="container text-center">
    <img src="/static/c1.png" height="20px" width="100px" alt="">
    <img src="/static/c2.png" height="20px" width="100px" alt="">
    <img src="/static/c4.png" height="20px" width="100px" alt="">
    <img src="/static/c1.png" height="20px" width="100px" alt="">
    <img src="/static/maestro.jpg" height="20px" width="100px" alt="">
    <img src="/static/c2.png" height="20px" width="100px" alt="">
  </div>
</section>