
      <section id="carouselExampleCaptions" class="carousel slide m-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner m">
          <div class="carousel-item active">
            <img src="https://c4.wallpaperflare.com/wallpaper/480/469/151/girl-hike-hiking-mountain-wallpaper-preview.jpg" height="700px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://wallpaperaccess.com/full/428865.jpg" height="700px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://wallpaperaccess.com/full/825191.jpg" height="700px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </section>
       <br><br>
      <section class="featured">
        <h3 style="text-align: center;">FEATURED COLLECTION</h3>
        <h2 style="text-align: center;"> <---------------------></h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">New Arrival</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Clothing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Hats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Shoes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Bags</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Accessories</a>
                  </li>
                </ul>
            </div>
            </div>
          </nav><br><br>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card" style="height: 16em;" style="height: 16em;">
                <img style="width: 10em; height: 10em;"
                  src="/static/img1.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body" style="cursor:pointer">
                  <h6 class="card-title">Card title</h6>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img style="width: 10em; height: 10em;"
                  src="/static/img2.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img style="width: 10em; height: 10em;"
                  src="/static/img3.png"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img style="width: 10em; height: 10em;"
                  src="/static/img4.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img
                  src="/static/img5.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img
                  src="/static/img6.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card" style="height: 16em;" style="height: 16em;">
                <img width="100px"
                  src="/static/img7.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body" style="cursor:pointer">
                  <h6 class="card-title">Card title</h6>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img width="100px"
                  src="/static/img8.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img width="100px"
                  src="/static/img1.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img width="100px"
                  src="/static/img10.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img
                  src="/static/img5.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 16em;">
                <img
                  src="/static/img12.jpg"
                  class="card-img-top"
                  alt="https://picsum.photos/200"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text" style="color: red;">$250</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
            <br>
      <br>
      <section class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="height: 16em;">
              <img
                src="/static/skiiing.jpg"
                class="card-img-top"
                alt="https://picsum.photos/200"
              />
            </div> 
          </div>
          <div class="col">
              <h6>Hot Deals</h6><br>
              <h1 style="cursor: pointer;">Tulos Dacey Skirts</h1>
              <p>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
              </p>
              <h3 style="color: red;cursor: pointer;">$250</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eos optio repudiandae eius nisi quam quas sit voluptatem molestiae, reiciendis accusantium, cum omnis pariatur quidem, corrupti dolorem vitae error quisquam!</p>
              <p style="cursor: pointer;">color &nbsp;&nbsp;&nbsp; &nbsp; <iconify-icon icon="akar-icons:circle-fill" style="color: orange;" width="15" height="15"></iconify-icon>&nbsp;&nbsp; <iconify-icon icon="akar-icons:circle-fill" style="color: green;" width="15" height="15"></iconify-icon> &nbsp;&nbsp; <iconify-icon icon="akar-icons:circle-fill" style="color: purple;" width="15" height="15"></iconify-icon></p>
              <p style="cursor: pointer;">SIZE &nbsp; &nbsp; &nbsp; &nbsp;   S &nbsp; &nbsp;&nbsp; &nbsp;    M   &nbsp; &nbsp;&nbsp; &nbsp;   L &nbsp; &nbsp;&nbsp; &nbsp;     XL</p>
          </div>
        </div>
      </section>
      <br>
      <br>
      <section>
      <h1 style="text-align:center;">Instagram</h1>
      <div class="row">
        
        <div class="col">
          <img
          src="https://picsum.photos/200"
          alt="https://picsum.photos/200"
        />
        </div>
        <div class="col">
          <img
          src="https://picsum.photos/150"
          class="card-img-top"
          alt="https://picsum.photos/200"
        />
        </div>
        <div class="col">
          <img
          src="https://picsum.photos/100"
          class="card-img-top"
          alt="https://picsum.photos/200"
        />
        </div>
        <div class="col">
          <img
          src="https://picsum.photos/50"
          class="card-img-top"
          alt="https://picsum.photos/200"
        />
        </div>
        <div class="col">
          <img
          src="https://picsum.photos/250"
          class="card-img-top"
          alt="https://picsum.photos/200"
        />
        </div>
        <div class="col">
          <img
          src="https://picsum.photos/300"
          class="card-img-top"
          alt="https://picsum.photos/200"
        />
        </div>
      </div>
    </section>
    <section class="d-flex justify-content-evenly mt-5">
      <div class="flex-column first-overflow">
        <h4 class="mb-2">BEST SELLERS</h4>
          <div class="d-flex mb-3">
              <div class="flex-column col-6" >
                  <div class="photo-cart">
                      <img src="/static/img10.jpg" class="card-img-top" alt="...">
                  </div>
              </div>
              <div class="flex-column col-6">
                <p style="text-align: left;">Tulos Decay Skirts</p>
                <p style="text-align: left;">
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                </p>
            </p>
                <h6 style="text-align: left; color: red;">$250.00</h6>
                <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
                <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
              </div>
            </div>
            <div class="d-flex mb-3">
              <div class="flex-column col-6" >
                  <div class="photo-cart">
                      <img src="/static/img3.png" class="card-img-top" alt="...">
                  </div>
              </div>
              <div class="flex-column col-6">
                <p style="text-align: left;">Tulos Decay Skirts</p>
                <p style="text-align: left;">
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                </p>
            </p>
                <h6 style="text-align: left; color: red;">$250.00</h6>
                <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
                <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
                    </div>
            </div>
            <div class="d-flex mb-3">
              <div class="flex-column col-6" >
                  <div class="photo-cart">
                      <img src="/static/img5.jpg" class="card-img-top" alt="...">
                  </div>
              </div>
              <div class="flex-column col-6">
                <p style="text-align: left;">Tulos Decay Skirts</p>
                <p style="text-align: left;">
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                <iconify-icon icon="emojione:star"></iconify-icon>
                </p>
            </p>
                <h6 style="text-align: left; color: red;">$250.00</h6>
                <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
                <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
                    </div>
            </div>
      </div>
      <div class="flex-column first-overflow">
          <h3>TOP RATE</h3>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img8.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6">
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              </p>
          </p>
              <h6 style="text-align: left; color: red;"> &nbsp;&nbsp;$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>   
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img6.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6">
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>             
              </p>
          </p>
              <h6 style="text-align: left; color: red;">$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
                  </div>
          </div>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img2.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6">
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon> 
              </p>
          </p>
              <h6 style="text-align: left; color: red;">$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
                  </div>
          </div>
      </div>
      <div class="flex-column first-overflow">
          <h3>TOP SPECIAL</h3>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6"> 
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>          
              </p>
          </p>
              <h6 style="text-align: left; color: red;">$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img12.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6">
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              </p>
              </p>
              <h6 style="text-align: left; color: red;">$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
              </div>
          </div>
          <div class="d-flex mb-3">
            <div class="flex-column col-6" >
                <div class="photo-cart">
                    <img src="/static/img6.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="flex-column col-6">
              <p style="text-align: left;">Tulos Decay Skirts</p>
              <p style="text-align: left;">
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              <iconify-icon icon="emojione:star"></iconify-icon>
              </p>
              </p>
              <h6 style="text-align: left; color: red;" >$250.00</h6>
              <p style="text-align: left;"> COLOUR&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: red;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: purple;"></iconify-icon>&nbsp;&nbsp;<iconify-icon icon="akar-icons:circle-fill" style="color: blue;"></iconify-icon></p>
              <p style="text-align: left;">SIZE&nbsp; S &nbsp; M &nbsp; L &nbsp; XL</p>
                  </div>
          </div>
      </div>
  </section>
